*,
html {
  margin: 0;
  padding: 0;
  cursor: default;
}
html {
  background-color: #1c1c1c;
}
a {
  cursor: pointer;
  color: #ff8700;
  text-decoration: none;
}
section > code {
  display: block;
  margin-left: -4em;
  margin-right: -4em;
  margin-bottom: 1em;
  font-family: "Source Code Pro";
  counter-reset: loc;
  border-left: 3em solid #161616;
  border-right: 3em solid #161616;
  background-color: #141414;
}
section > code > span {
  display: block;
  position: relative;
  margin-left: 2em;
  text-indent: -1.8em;
  color: #d0d0d0;
  font-size: 0.8em;
  cursor: text;
  white-space: pre-wrap;
}
section > code > span:first-of-type {
  padding-top: 0.5em;
}
section > code > span:first-of-type:before,
section > code > span:first-of-type:after {
  padding-top: 0.5em;
  margin-top: -0.5em;
}
section > code > span:last-of-type {
  padding-bottom: 0.5em;
}
section > code > span:last-of-type:before,
section > code > span:last-of-type:after {
  padding-bottom: 0.5em;
  margin-bottom: -0.5em;
}
section > code > span:before {
  display: block;
  position: absolute;
  width: 3em;
  left: -5.2em;
  text-align: right;
  color: #bcbcbc;
  counter-increment: loc;
  content: counter(loc);
}
section > code > span > * {
  color: #d0d0d0;
  cursor: text;
  white-space: pre-wrap;
}
section > code > span > span.highlighting.dType,
section > code > span > span.highlighting.dStructure,
section > code > span > span.highlighting.dEnum,
section > code > span > span.highlighting.dExternal {
  color: #66D9EF;
}
section > code > span > span.highlighting.dOperator {
  color: #F92672;
}
section > code > span > span.highlighting.dRepeat,
section > code > span > span.highlighting.dStatement,
section > code > span > span.highlighting.dConditional,
section > code > span > span.highlighting.dBranch {
  color: #F92672;
  font-weight: bold;
}
section > code > span > span.highlighting.dBoolean {
  color: #AE81FF;
}
section > code > span > span.highlighting.dIdentifier,
section > code > span > span.highlighting.dOpOverload,
section > code > span > span.highlighting.dVersionIdentifier,
section > code > span > span.highlighting.dScopeIdentifier,
section > code > span > span.highlighting.dTraitsIdentifier,
section > code > span > span.highlighting.dExternIdentifier {
  color: #FD971F;
}
section > code > span > span.highlighting.dStorageClass,
section > code > span > span.highlighting.dAttribute,
section > code > span > span.highlighting.dScope,
section > code > span > span.highlighting.dScopeDecl {
  color: #FD971F;
  font-style: italic;
}
section > code > span > span.highlighting.dString {
  color: #AFAF87;
}
section > code > span > span.highlighting.dNumber {
  color: #AE81FF;
}
section > p > code {
  font-family: "Source Code Pro";
  whitespace: pre-wrap;
  padding: 0 1em 0 1em;
}
blockquote {
  display: block;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 0.5em;
  box-sizing: border-box;
  margin-left: 0em;
  margin-bottom: 1em;
  border-left: 1.5em solid #141414;
  padding-left: 0.5em;
}
blockquote > p {
  margin-bottom: 1em;
  font-style: italic;
}
body {
  position: relative;
  width: 50%;
  left: 25%;
}
body * {
  color: #dadada;
}
body > h1 {
  padding: 1em;
  padding-left: 0.8em;
  text-transform: lowercase;
  font-family: "Source Code Pro";
}
body > h1:before {
  color: #ff8700;
  content: "::";
}
body > a {
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 1em;
  font-family: "Source Code Pro";
  text-transform: uppercase;
}
body > a:before {
  color: #ff8700;
  content: ">";
  margin-right: 0.5em;
}
body > nav {
  position: absolute;
  width: 10em;
  left: -10em;
  margin-top: 4.5em;
  text-align: right;
}
body > nav li {
  display: block;
  margin-right: 1em;
  margin-bottom: 0.5em;
  text-transform: lowercase;
  font-family: "Source Code Pro";
  font-weight: bold;
}
body > nav li a {
  display: block;
}
body > nav li a:after {
  margin-left: 0.2em;
  color: #ff8700;
  content: ">";
}
body > nav li a.active:after,
body > nav li a:hover:after {
  margin-left: 0.5em;
  margin-right: -0.3em;
}
body > nav li li {
  margin-right: 0;
  margin-bottom: 0;
}
body > nav li li a {
  color: #bcbcbc;
  font-size: 11pt;
}
body > nav li li a:after {
  content: "<";
  color: #995100;
  margin-left: 0.2em;
  margin-right: -0.5em;
}
body > nav li li a.active:after,
body > nav li li a:hover:after {
  margin-left: 0;
  margin-right: -0.3em;
}
body > article {
  position: relative;
  padding: 1em;
  margin-bottom: 3em;
  background-color: #121212;
}
body > article:last-of-type {
  margin-bottom: 1em;
}
body > article.overlay {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  top: 9.5em;
  z-index: 98;
}
body > article > header > nav > a[rel="next"],
body > article > header > nav > a[rel="prev"] {
  position: absolute;
  top: 0;
  font-size: 4em;
  color: #424242;
  transition: color 0.5s;
}
body > article > header > nav > a[rel="next"][rel="prev"],
body > article > header > nav > a[rel="prev"][rel="prev"] {
  left: -1em;
}
body > article > header > nav > a[rel="next"][rel="next"],
body > article > header > nav > a[rel="prev"][rel="next"] {
  right: -1em;
}
body > article > header > nav > a[rel="next"]:hover,
body > article > header > nav > a[rel="prev"]:hover {
  color: #696969;
}
body > article > header > h1 {
  font-family: "URW Gothic L";
  font-weight: normal;
}
body > article > header > h1 > a:hover {
  color: #a7a7a7;
}
body > article > header > h1:focus {
  outline: none;
}
body > article > header > h1:after {
  margin-right: 0.2em;
  font-family: "Source Code Pro";
  color: #465457;
  content: " : public";
}
body > article > header > aside:first-of-type {
  position: absolute;
  margin-left: 0.5em;
  left: 100%;
  top: 4.5em;
  font-family: "Source Code Pro";
  font-weight: bold;
}
body > article > header > aside:first-of-type > time {
  display: block;
  font-size: 1.5em;
}
body > article > header > aside:first-of-type > time span {
  display: block;
  font-size: 0.7em;
}
body > article > header > aside:first-of-type > a {
  display: inline-block;
}
body > article > header > aside:first-of-type > a:before {
  margin-right: 0.2em;
  font-family: "Source Code Pro";
  color: #465457;
}
body > article > header > aside:first-of-type > a[rel=author] {
  display: block;
  margin-top: 0.5em;
  margin-left: 0.5em;
  color: #ff8700;
}
body > article > header > aside:first-of-type > a[rel=author]:before {
  display: block;
  margin-left: -0.5em;
  content: "#author:";
}
body > article > header > aside:first-of-type > ul {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 1em;
  list-style-type: none;
}
body > article > header > aside:first-of-type > ul:before {
  margin-right: 0.2em;
  font-family: "Source Code Pro";
  color: #465457;
  content: "#tags:[";
}
body > article > header > aside:first-of-type > ul:after {
  margin-right: 0.2em;
  font-family: "Source Code Pro";
  color: #465457;
  content: "]";
}
body > article > header > aside:first-of-type > ul#diffs a {
  text-transform: lowercase;
}
body > article > header > aside:first-of-type > ul#diffs a.current {
  color: #ff8700;
}
body > article > header > aside:first-of-type > ul#diffs:before {
  content: "#revs:[";
}
body > article > header > aside:first-of-type > ul li a[rel=tag] {
  display: block;
  margin-left: 0.5em;
  text-transform: lowercase;
}
body > article > header > aside:first-of-type > ul li a[rel=tag].edit:hover {
  text-decoration: line-through;
}
body > article > header > aside:first-of-type > ul li a[rel=tag]:before {
  color: #ff8700;
  content: "*";
}
body > article > header > aside:first-of-type > ul li a[rel=tag]:after {
  margin-right: 0.2em;
  font-family: "Source Code Pro";
  color: #465457;
  content: ",";
}
body > article > header > aside:first-of-type > ul li span {
  display: block;
  margin-left: 0.5em;
  text-transform: lowercase;
  height: 1.5em;
  min-width: 5em;
  max-width: 10em;
  white-space: nowrap;
  background-color: #1c1c1c;
  border-bottom: 1px solid #465457;
  border-radius: 0.2em;
}
body > article > header > aside:first-of-type > ul li span:focus {
  outline: none;
}
body > article > header > aside:first-of-type > ul li span:before {
  display: inline-block;
  color: #ff8700;
  content: "*";
}
body > article > header > aside:first-of-type > ul li:last-of-type a[rel=tag]:after {
  content: "";
}
body > article > form > label {
  display: inline-block;
  cursor: pointer;
}
body > article > form > textarea {
  font-family: "Source Code Pro";
  vertical-align: top;
  transition: height 0.2s;
}
body > article > form > input,
body > article > form > textarea {
  display: block;
  position: relative;
  width: 80%;
  max-width: 80%;
  min-width: 80%;
  color: #dadada;
  padding: 0.5em;
  left: 10%;
  margin-left: -0.5em;
  box-sizing: border-box;
  background-color: #292929;
  margin: 0.5em;
  border: none;
  cursor: text;
}
body > article > form > input[type="submit"],
body > article > form > textarea[type="submit"] {
  transition: background-color 0.5s;
}
body > article > form > input[type="submit"]:hover,
body > article > form > textarea[type="submit"]:hover {
  background-color: #363636;
}
body > article > form > input[type="radio"],
body > article > form > textarea[type="radio"],
body > article > form > input[type="checkbox"],
body > article > form > textarea[type="checkbox"] {
  display: inline-block;
  width: auto;
  min-width: auto;
  max-width: auto;
  width: 20%;
}
body > article > form > input[type="radio"],
body > article > form > textarea[type="radio"],
body > article > form > input[type="checkbox"],
body > article > form > textarea[type="checkbox"],
body > article > form > input[type="submit"],
body > article > form > textarea[type="submit"],
body > article > form > input[type="button"],
body > article > form > textarea[type="button"] {
  cursor: pointer;
}
body > article > section.text + form {
  border-top: 1px solid #1c1c1c;
  padding-top: 1em;
}
body > article > section.text {
  display: block;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 1.5em;
  margin-bottom: 2em;
  font-family: "Cantarell";
  font-size: 13pt;
  counter-reset: h2;
}
body > article > section.text > p {
  margin-bottom: 1em;
  text-align: justify;
}
body > article > section.text > h2:after,
body > article > section.text > h3:after,
body > article > section.text > h4:after,
body > article > section.text > h5:after {
  display: inline-block;
  width: 60px;
  position: absolute;
  right: 10px;
  text-align: right;
}
body > article > section.text > h2 > a,
body > article > section.text > h3 > a,
body > article > section.text > h4 > a,
body > article > section.text > h5 > a {
  color: #dadada;
}
body > article > section.text > h2 > a:before,
body > article > section.text > h3 > a:before,
body > article > section.text > h4 > a:before,
body > article > section.text > h5 > a:before {
  display: inline-block;
  width: 60px;
  position: absolute;
  left: 0;
  text-align: right;
  color: #465457;
}
body > article > section.text > h2 > a:hover,
body > article > section.text > h3 > a:hover,
body > article > section.text > h4 > a:hover,
body > article > section.text > h5 > a:hover {
  text-decoration: none;
}
body > article > section.text > h2 > a:hover:before,
body > article > section.text > h3 > a:hover:before,
body > article > section.text > h4 > a:hover:before,
body > article > section.text > h5 > a:hover:before {
  color: #ff8700;
}
body > article > section.text > h2:after {
  content: " " counter(h2);
}
body > article > section.text > h2 > a:before {
  content: "#";
}
body > article > section.text > h2 {
  counter-increment: h2 1;
  counter-reset: h3;
  counter-reset: h4;
  counter-reset: h5;
}
body > article > section.text > h3:after {
  content: " " counter(h2) "." counter(h3);
}
body > article > section.text > h3 > a:before {
  content: "##";
}
body > article > section.text > h3 {
  counter-increment: h3 1;
  counter-reset: h4;
  counter-reset: h5;
}
body > article > section.text > h4:after {
  content: " " counter(h2) "." counter(h3) "." counter(h4);
}
body > article > section.text > h4 > a:before {
  content: "###";
}
body > article > section.text > h4 {
  counter-increment: h4 1;
  counter-reset: h5;
}
body > article > section.text > h5:after {
  content: " " counter(h2) "." counter(h3) "." counter(h4) "." counter(h5);
}
body > article > section.text > h5 > a:before {
  content: "####";
}
body > article > section.text > h5 {
  counter-increment: h5 1;
}
body > article > section.text > ul {
  padding: 0.5em;
  list-style-type: square;
}
body > article > section.text > ul > li {
  padding: 0.3em;
  color: #d0d0d0;
}
body > article > section.text a {
  color: #ff8700;
}
body > article > section.text a:hover {
  text-decoration: underline;
}
body > article > section.comment {
  padding: 4em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1em;
}
body > article > section.comment p {
  text-align: justify;
}
body > article > section.comment:nth-of-type(2) {
  border-top: 1px solid #1c1c1c;
}
body > article > section.comment:nth-of-type(2):before {
  display: block;
  position: relative;
  left: -1em;
  margin-bottom: 0.5em;
  font-family: "Source Code Pro";
  font-weight: bold;
  color: #465457;
  content: '#comments:[';
}
body > article > section.comment:last-of-type:after {
  display: block;
  position: relative;
  left: -1em;
  font-family: "Source Code Pro";
  font-weight: bold;
  color: #465457;
  content: ']';
}
body > article > section.comment > header {
  margin-bottom: 0.5em;
  font-family: "Source Code Pro";
  text-transform: lowercase;
}
body > article > section.comment > header > a[rel=author] {
  color: #ff8700;
}
body > article > section.comment > header > time {
  letter-spacing: 0.2em;
  font-size: 0.9em;
  position: absolute;
  right: 5em;
}
body > article > section.comment > p {
  margin-left: 2.5em;
}
body > article.unpub > header > h1:after {
  content: " : private";
}
