/*
html
    head
    body
        h1
        nav
            ul
                li
                    a
                li
                    ul
                        li
                            a
        article
            header
                nav
                    a
                    a
                aside
                    time
                        span
                    a
                    ul
                        li
                            a
                h1
            section.text
                p
            section.comment
                header
                    a
                    time
                p
            form
                textarea
                input
        a
        a
*/
html {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  padding: 3em 25% 1em 25%;
  box-sizing: border-box;
  background-color: #efefef;
}
body > h1 {
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0.2em 50% 0.2em 50%;
  box-sizing: border-box;
  background-color: #565656;
  color: #d6d6d6;
  font-family: "Source Code Pro";
}
body > nav {
  position: absolute;
  display: block;
  top: 0;
  right: 25%;
}
body > nav * {
  display: inline-block;
  padding: 0;
}
body > nav a {
  padding: 0.2em;
  color: #d6d6d6;
  font-weight: bold;
  font-family: "Source Code Pro";
  text-decoration: none;
  text-transform: lowercase;
  transition: color 0.2s;
}
body > nav a:hover {
  color: #ffffff;
}
body > article {
  padding: 2em;
  color: #565656;
  background-color: #e2e2e2;
}
body > article > header > aside {
  position: absolute;
  top: 3.5em;
  padding: 0;
  font-family: "Source Code Pro";
}
body > article > header > aside > a[rel=author] {
  color: #565656;
  text-decoration: none;
}
body > article > header > aside > ul {
  display: inline-block;
  margin: 0;
  padding: 1em;
}
body > article > header > aside > ul > li {
  display: inline-block;
}
body > article > header > aside > ul > li > a {
  color: #afafaf;
  text-decoration: none;
  padding: 0.3em;
  transition: color 0.2s;
}
body > article > header > aside > ul > li > a:before {
  padding-right: 0.1em;
  color: #565656;
  content: "*";
}
body > article > header > aside > ul > li > a:hover {
  color: #969696;
}
body > article > header nav > a {
  position: absolute;
  font-size: 4em;
  color: #e2e2e2;
  text-decoration: none;
  transition: color 0.2s;
}
body > article > header nav > a[rel=next] {
  left: 75%;
}
body > article > header nav > a[rel=prev] {
  right: 75%;
}
body > article > header nav > a:hover {
  color: #afafaf;
}
body > article > header > h1 {
  font-family: "URW Gothic L";
}
body > article > section.text h2 > a,
body > article > section.text h3 > a,
body > article > section.text h4 > a,
body > article > section.text h5 > a,
body > article > section.text h6 > a {
  color: #565656;
  font-family: "URW Gothic L";
  text-decoration: none;
}
body > article > section.text + section.comment,
body > article > section.text + form {
  padding-top: 1em;
  border-top: 2px dotted #efefef;
}
body > article > section.comment {
  padding: 0.5em;
}
body > article > form {
  display: block;
  padding: 0 20% 0 20%;
}
body > article > form > textarea,
body > article > form > input {
  position: relative;
  display: block;
  width: 100%;
  padding: 0.5em;
  border: none;
  resize: none;
  box-sizing: border-box;
  background-color: #efefef;
  transition: height 0.2s;
}
body > a {
  display: inline-block;
  padding: 0.5em;
  color: #c9c9c9;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.2s;
}
body > a:hover,
body > a:last-of-type {
  color: #969696;
}
