/*
html
    head
    body
        h1
        nav
            ul
                li
                    a
                li
                    ul
                        li
                            a
        article
            header
                nav
                    a
                    a
                aside
                    time
                        span
                    a
                    ul
                        li
                            a
                h1
            section.text
                p
            section.comment
                header
                    a
                    time
                p
            form
                textarea
                input
        a
        a
*/
html {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #565656;
  /* gradient */

  background: linear-gradient(#565656, #565656 6.5em, #efefef 6.5em, #efefef);
  font-size: 16px;
}
a[rel=author]:before {
  color: #898989;
  content: "#";
}
body {
  position: absolute;
  display: block;
  width: 100%;
  top: 6em;
  margin: 0;
  padding: 3em 0 1em 0;
  box-sizing: border-box;
  background-color: #efefef;
  text-align: center;
  overflow-x: hidden;
}
body > * {
  margin-top: -3em;
}
body > h1 {
  position: absolute;
  display: block;
  width: 25em;
  left: 50%;
  top: 0;
  margin: -1.5em 0 0 -12.5em;
  padding: 0.2em 2em 0.2em 0;
  box-sizing: border-box;
  color: #d6d6d6;
  font-family: "Source Code Pro";
  font-size: 2em;
  text-align: left;
}
body > nav {
  position: absolute;
  display: block;
  width: 54em;
  top: 0;
  left: 50%;
  margin-left: -25em;
  text-align: right;
}
body > nav * {
  display: inline-block;
  padding: 0;
}
body > nav a {
  padding: 0.2em;
  color: #d6d6d6;
  font-weight: bold;
  font-family: "Source Code Pro";
  text-decoration: none;
  text-transform: lowercase;
  transition: color 0.2s;
}
body > nav a:hover {
  color: #ffffff;
}
body > article {
  position: relative;
  width: 50em;
  left: 50%;
  margin-left: -25em;
  box-sizing: border-box;
  padding: 2em;
  color: #565656;
  background-color: #e5e5e5;
  text-align: left;
}
body > article > header > aside {
  position: absolute;
  top: 1em;
  padding: 0;
  font-family: "Source Code Pro";
}
body > article > header > aside > a[rel=author] {
  color: #565656;
  text-decoration: none;
}
body > article > header > aside > ul {
  display: inline-block;
  margin: 0;
  padding: 1em;
}
body > article > header > aside > ul > li {
  display: inline-block;
}
body > article > header > aside > ul > li > a {
  color: #b2b2b2;
  text-decoration: none;
  padding: 0.3em;
  transition: color 0.2s;
}
body > article > header > aside > ul > li > a:before {
  padding-right: 0.1em;
  color: #565656;
  content: "*";
}
body > article > header > aside > ul > li > a:hover {
  color: #989898;
}
body > article > header nav > a {
  position: absolute;
  font-size: 4em;
  color: #e5e5e5;
  text-decoration: none;
  transition: color 0.2s;
}
body > article > header nav > a[rel=next] {
  right: 50%;
  margin-right: -7.2em;
}
body > article > header nav > a[rel=prev] {
  left: 50%;
  margin-left: -7.2em;
}
body > article > header nav > a:hover {
  color: #b2b2b2;
}
body > article > header > h1 {
  font-family: "URW Gothic L";
}
body > article > section.text {
  text-align: justify;
  font-size: 1em;
}
body > article > section.text h2 > a,
body > article > section.text h3 > a,
body > article > section.text h4 > a,
body > article > section.text h5 > a,
body > article > section.text h6 > a {
  color: #565656;
  font-family: "URW Gothic L";
  text-decoration: none;
}
body > article > section.text + section.comment,
body > article > section.text + form {
  padding-top: 1em;
  border-top: 2px dotted #efefef;
}
body > article > section.comment {
  margin-bottom: 1em;
  padding: 0.5em 5em 0.5em 5em;
  text-align: justify;
}
body > article > section.comment > header {
  margin-bottom: 0.5em;
  font-family: "Source Code Pro";
  text-transform: lowercase;
}
body > article > section.comment > header a {
  padding: 0.2em;
  text-decoration: none;
  color: #969696;
  transition: color 0.2s;
}
body > article > section.comment > header a:hover,
body > article > section.comment > header a[rel=author] {
  color: #565656;
}
body > article > section.comment > header time {
  position: absolute;
  display: inline-block;
  right: 6em;
  padding: 0.2em;
  letter-spacing: 0.1em;
}
body > article > form {
  display: block;
  padding: 0 20% 0 20%;
}
body > article > form > textarea,
body > article > form > input {
  position: relative;
  display: block;
  width: 100%;
  padding: 0.5em;
  border: none;
  resize: none;
  box-sizing: border-box;
  background-color: #efefef;
  transition: height 0.2s;
}
body > a {
  display: inline-block;
  padding: 0.5em;
  color: #cbcbcb;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.2s;
}
body > a:hover,
body > a:last-of-type {
  color: #989898;
}
